body{
	background: linear-gradient(-45deg, #76379f, #35379a, #2d9e4f, #808e2f);
	background-size: 1000% 1000%;
	animation: gradient 30s ease infinite;
	height: 100vh
}


.container{
    width: 95%;
}

#title{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name{
    font-family: Roboto Mono, sans-serif;
}

#para{
    font-family: Roboto Mono, sans-serif;
    font-size: 20px;
    color: white;
}

#para1{
    font-family: Roboto Mono, sans-serif;
    font-size: small;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.inosuke{
    border-radius: 50%;
    height: 200px;
  }

  

  #againme{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.joke{
    font-family: roboto mono, sans-serif;
    font-size: 8px;
    color: white;
}

#content{
    font-family: roboto mono, sans-serif;
    color: white;
}

.icon-square {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    opacity: 50% ;
  }

.icons{
  padding: 1%;
}

  #skills{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto mono, sans-serif;
    color: white;
    padding-left: 4%;
  }

  .contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto Mono, sans-serif;
    color: white;

  }

  div.container{
    font-family: Roboto Mono, sans-serif;
    color: white;
  }
  
  button{
    color: black;
  }

  .container mt-5{
    font: Roboto Mono, sans-serif;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .project-card {
    width: 1300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .project-card-body {
    padding: 15px;
  }
  .project-card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }